
body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: #ffffff; 
}

iframe {
  max-width:600px; 
  }

.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #a7a9a9; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #a7a9a9; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #020202; 
  border-color: #a7a9a9; 
  border-style: solid; 
  border-radius: 10px;  
  max-width: 420px;   
  cursor: pointer;
}

.navbar-toggler{
  background-color: #ffffff;}


button p{
  color: #ffffff; 
}


span{
  color: #0e0e0e; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ffffff;
}

.titulo{
  font-size: 30px;
  text-align: center; 
  padding-bottom: 0px; 
  color: #000000;
  background-color:#fbfbfb;
}  

.titulo1{
  font-size: 25px;
  text-align: left; 
  padding-bottom: 0px; 
  color: #000000;
  background-color:#fbfbfb;
}  


h2{
    background-color:#fbfbfb;
}  

h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}

.p{
  font-size: 14px; 
  color: #0e0e0e; 
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.contenedor{
    position: relative;
    text-align: center;
    background-size:contain;
    margin: 50px;
}

.contenedor2{
  height: 50px;
  width: auto;
  margin: 100px;
  text-align: center;
  background-size:contain;
  margin-bottom: 10%;
}


.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado_abajo{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.pequeña{
    width: 50px;
    height: 50px;
  }
  img.mediana{
    width: 100px;
    height: 100px;

  }
  img.grande{
    width: 200px;
    height: 200px;
  }

  img.grande2{
    width: 700px;
    height: 450px;
  }
  
 img.super_grande{
    width: 1400px;
    height: 900px;
  }

a{  
    color: #000000;
    text-decoration: none;
}

.letra_boton{
    color: #e7e7f0;
}
* {
    margin:0px;
    padding:0px;
}

#header {
    height: auto;
    margin: 0% auto;
    width:  100%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100px;
    background-color: #000;
}

ul, ol {
    list-style:none;
    display: inline-block;
}

.nav{
  z-index: 99;
}

.nav > ul > li {
    float:left;
    margin: 0% auto;
}

.nav ul li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:0px 12px;
    display:block;

}

.nav ul li a:hover {
    background-color:#434343;

}

.nav ul li ul {
    display:none;
    position:absolute;
    min-width:240px;

}

.nav ul li:hover > ul {
    /* display:block; */

}

.nav ul li ul li {
    position:relative;

}

.nav ul li ul li ul {
    right:-140px;
    top:0px;

}

/* Footer */

.contenedor3{
  height: 100px;
  width: auto;
  margin: 10px;
  text-align: center;
  background-size:cover;
  background-color:#000000;
}



.footer_link{
  color: #ffffff;
}

.footer_text{
  color: #ffffff;
}

/* ---Estructura con grids--- */

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px repeat(2,1fr) 100px;
  grid-template-areas: 
  
  "header header header"
  
  "main main main"
  
  "section section2 section3"

  "section4 section5 section6"

  ". . ."
  ". . ."
  ". . ."
  ". . ."
  ". . ."
  ". . ."



  "footer footer footer";
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.header{
  grid-area: header;

}
.main{
  grid-area: main;
}
.section{
  grid-area: section;

}
.section2{
  grid-area: section2;
}
.section3{
  grid-area: section3;
}
.section5{
  grid-area: section5;
}
.section_cla{
  grid-area: section;
  grid-row: 1fr;
  grid-column: 1 / 4;;}
.section_cla2{
  grid-area: section4;
  grid-row: 1fr;
}
.footer{
  grid-area: footer;
}

.section, .section2, .section3{
  margin: 50px;
  text-align: center;
  }

/* ---tamaño tablet - 768px */
  @media screen and (max-width: 768px) {

    .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 10% repeat(4, 1fr) 10%;
    grid-template-areas: 
    
    "header"
    
    "main"
    
    "section"
  
    "section2" 
  
    "section3"
    
    "footer"
    }
    .header{
      grid-area: header;
    
    }
    .main{
      grid-area: main;
    }
    .section{
      grid-area: section;
    }
    .section2{
      grid-area: section2;
    }
    .section3{
      grid-area: section3;
    }
    .section_cla{
      grid-area: section;}
    .section_cla2{
      grid-area: section2;}
    .footer{
      grid-area: footer;
    }

    .nav ul li a {
      grid-area: header;
      text-align: center;
      margin-top: auto;
    }

    .contenedor2 {
      height: 50px;
      width: auto;
      margin: 100px;
      text-align: center;
      background-size: contain;
      margin-bottom: 10%;
    }
    .nav{
      z-index: 99;
    }
  }


  /* ---tamaño mobile - 320px - 420px - 480px [500px]*/
@media screen and (max-width: 500px) {

  .grid-container{
  grid-template-columns: 1fr;
  grid-template-rows: 10% repeat(4, 1fr) 10%;
  grid-template-areas: 
  
  "header"
  
  "main"
  
  "section"

  "section2" 

  "section3"
  
  "footer"
  }
  .header{
    grid-area: header;
  }
  .nav ul li a{
  grid-area: header;
  display: flex;
  flex-direction: column;
  z-index:99
}
  .main{
    grid-area: main;
  }
  .section{
    grid-area: section;
  }
  .section2{
    grid-area: section2;
  }    
  .section3{
    grid-area: section3;
  }
  .footer{
    grid-area: footer;
  }
  .nav ul li a {
    grid-area: header;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section3{
    grid-area: section3;
  }
  .section_cla{
    grid-area: section;
  }
  .section_cla2{
      grid-area: section3;
  }
  .contenedor2 {
    height: 50px;
    width: auto;
    margin: 100px;
    text-align: center;
    background-size: contain;
    margin-bottom: 10%;
  }
}